CONFIG_ARM=y
CONFIG_ARCH_S5PC1XX=y
CONFIG_TARGET_OK210=y
CONFIG_DEFAULT_DEVICE_TREE="s5pc1xx-ok210"
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="OK210 # "
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_CACHE=y
CONFIG_CMD_FAT=y
